@font-face {
  font-family: 'Quicksand';
  src: url('~assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('~assets/fonts/Source Code Pro/SourceCodePro-VariableFont_wght.ttf') format('ttf');
}

.text-mono {
  font-family: 'Source Code Pro', monospace !important;
}
